[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly-express = "*"
statistics = "*"
"plotly.express" = "*"
scipy = "*"
python-levenshtein = "*"
scikit-learn = "*"
numpy = "*"
nbformat = ">=4.2.0"
levenshtein = "*"
plotly = "*"
matplotlib = "*"
openpyxl = "*"
requests = "*"
osmnx = "*"
descartes = "*"
shapely = "*"
opencv-python-headless = "*"
pillow = "*"
prettymapp = "*"
prettymaps = "*"
fonttools = "*"
fontools = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
